# ignore Visual Studio user files
*.suo
*.csproj.user
*.xproj.user
*.sln.cache

# User files related to NuGet project.json
*.lock.json
*.nuget.props
*.nuget.targets
[nN]u[gG]et.exe

# Ignored testing and profiling files
TestResults/
*.vsp
*.testsettings

# Roslyn Cache
.vs/

# ignore C# build directories
bin/
obj/
reference/.metadata/
reference/reference.net/
/runtime/CSharp/packages/
/build/DotnetValidation*/packages/

# ignore Java (Maven) build directory
tool/target/
.idea/
*.iml

# ignore NuGet output folders
/build/nuget/

# Ignore generated test suite
Generated/
x/
packages-microsoft-prod.deb
_tests/trcombine/o3.pt
_tests/trcombine/o1.pt
_tests/trcombine/o2.pt
_tests/piggy/o1.pt
_tests/piggy/o2.pt
./output
_tests/trgen-targets/Antlr4cs/output
_tests/trgen-targets/Antlr4cs/simple.g4
_tests/trgen-targets/CSharp/output
_tests/trgen-targets/CSharp/simple.g4
_tests/trgen-targets/Java/simple.g4
_tests/trgen-targets/Go/simple.g4
_tests/trgen-targets/Dart/output
_tests/trgen-targets/Java/output
_tests/trgen-targets/Go/output
_tests/trgen-targets/Dart/simple.g4
_tests/trgen-targets/Python3/simple.g4
_tests/trgen-targets/Python3/output
_tests/trperf/output
_tests/trfirst/output
