# ignore Visual Studio user files
*.suo
*.csproj.user
*.xproj.user
*.sln.cache

# User files related to NuGet project.json
*.lock.json
*.nuget.props
*.nuget.targets
[nN]u[gG]et.exe

# Ignored testing and profiling files
TestResults/
*.vsp
*.testsettings

# Roslyn Cache
.vs/

# ignore C# build directories
bin/
obj/
reference/.metadata/
reference/reference.net/
/runtime/CSharp/packages/
/build/DotnetValidation*/packages/

# ignore Java (Maven) build directory
tool/target/
.idea/
*.iml

# ignore NuGet output folders
/build/nuget/

# Ignore generated test suite
tests/**/Generated/
tests/**/Generated-*/

# Ignore generated example output
examples/**/Generated-*/

# Ignore trgen/trcover output for xquery4 grammars
src/xquery4/**/Generated-CSharp/
examples/**/interp/
examples/**/grammar.json
# Ignore trcover per-file parse output
**/*.xpath.errors
**/*.xpath.tree
**/*.xquery.errors
**/*.xquery.tree
**/*.xqm.errors
**/*.xqm.tree
x/
packages-microsoft-prod.deb
tests/trcombine/o3.pt
tests/trcombine/o1.pt
tests/trcombine/o2.pt
tests/piggy/o1.pt
tests/piggy/o2.pt
./output
tests/trgen-targets/Antlr4cs/output
tests/trgen-targets/Antlr4cs/simple.g4
tests/trgen-targets/CSharp/output
tests/trgen-targets/CSharp/simple.g4
tests/trgen-targets/Java/simple.g4
tests/trgen-targets/Go/simple.g4
tests/trgen-targets/Dart/output
tests/trgen-targets/Java/output
tests/trgen-targets/Go/output
tests/trgen-targets/Dart/simple.g4
tests/trgen-targets/Python3/simple.g4
tests/trgen-targets/Python3/output
tests/trperf/output
tests/trfirst/output
src/grammars/pegen/Generated-CSharp/v2.txt
src/grammars/pegen/Generated-CSharp/v3.txt
src/grammars/pegen/Generated-CSharp/v1.txt
src/grammars/pegen/Generated-CSharp/orig.txt
src/grammars/pegen/Generated-CSharp/o.pt
src/grammars/pegen/Generated-CSharp/orig.pt
src/VsCode/node_modules/
src/VsCode/out/
*.vsix
src/VsCode/package-lock.json
src/trgen/foobar.zip
src/trash/staging/
src/trgenvsc/foobar.zip
src/trgenvsc/foobar.zip
tests/trxml/output
tests/delabel/o.pt
/src/trgenvsc/templates/server/Logger
/src/trgenvsc/templates/server/ParseTreeEditing
/src/trgenvsc/templates/server/Workspaces

src/trinterp/examples/*/a
src/trinterp/examples/*/n
src/trinterp/examples/*/i
