@inject IJSRuntime _jsRuntime
@inject NavigationManager NavManager

@page "/"

<h1>Grammars</h1>

<label>Enter grammar(s):</label><br />
<textarea id="text" name="text" rows="10" cols="80" @bind="TextAreaValue"></textarea><br />
<button class="btn btn-primary" @onclick="Click">Compute Thompson Construction</button>

@code {
    public static string TextAreaValue;

    private async void Click()
    {
        Model.ComputeModel(TextAreaValue);
        NavManager.NavigateTo("thompson");
    }

}
