@inject IJSRuntime _jsRuntime

@page "/powerset"

<h3>PowerSet</h3>

<div id="svgcontainer">
    @{
        @(Init())
    }
</div>

@code {

    MarkupString Init()
    {
        return (MarkupString)Model.PowerSetSvg;
    }

    private async void Foo()
    {
        await _jsRuntime.InvokeVoidAsync("doit");
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Foo();
        return base.OnAfterRenderAsync(firstRender);
    }

}
