# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v3
    - name: Install dos2unix
      run: |
        sudo apt-get install tofrodos
        sudo ln -s /usr/bin/fromdos /usr/bin/dos2unix
    - name: Setup PHP
      id: setup-php
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        ini-values: xdebug.max_nesting_level=1000
    - name: Print PHP version
      run: |
        echo ${{ steps.setup-php.outputs.php-version }}
        php --version
    - name: Prep Dotnet
      run: |
        sudo ls -l /usr
        sudo ls -l /usr/share
        sudo ls -l /usr/share/dotnet
    - name: Install Dotnet
      uses: actions/setup-dotnet@v4.0.1
      with:
        dotnet-version: '8.0.x'
    - name: Test Dotnet
      run: |
        dotnet --version
        dotnet --info
        dotnet --list-runtimes
        dotnet --list-sdks
    - name: Install Java
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'zulu'
    - name: Test Java
      run: |
        dotnet --version
        java --version
        javac --version
    - name: Install Dart
      uses: dart-lang/setup-dart@v1
    - name: Test Dart
      run: |
        dart --version
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: '^1.21.0'
        cache: false
    - name: Test Go
      run: |
        go version
    - name: Install Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: '3.10'
    - name: Test Python
      run: |
        python --version
    - name: Upgrade Pip.
      run: |
        python -m ensurepip --upgrade
    - name: Test Pip.
      run: |
        pip --version
    - name: Install Antlr tool
      run: |
         pip install antlr4-tools
    - name: Install JavaScript
      uses: actions/setup-node@v4.0.3
      with:
        node-version: '21.7.3'
    - name: Install npm
      run: |
        npm install -g npm
        npm --version
    - name: Test JavaScript
      run: |
        node --version
    - name: ts-node typescript tsx
      run: |
        npm i -g ts-node typescript tsx
        ts-node --version
        tsc --version
        npx -v
        npx tsx -v
    - name: Build
      run: |
        make build
        make install

    - name: Test
      run: |
        cd _tests
        bash all-tests.sh
